body{
	background: #eeeeee;
}

.avatar{
	width: 50px;
	height: 50px;
	margin-top: 6px;
}

.TarjetaFoto{
	width: 857px;
	height: 482px;
}

.salir{
	font-size: 21px;
}

.eventus{
	width: 15em;
}

.CardEvent{
	margin: 1em 3em 0 5em;
	position: relative;
	left: 6em;
}

.CardEventTitle{
	font-size: 20px;
	text-align: center;
}

.CardEventoDetalle{
	border-top: 1px solid #757575 ;

}

.CardEventoCreador, .CardEventoCiudad{
	display: inline-block;
	vertical-align: top;
}

.CardEventoCiudad{
	float: right;
}

.btn-right{
	position: absolute;
	right: 1%;
}

.btn-height{
	position: fixed;
	top: 90%;
}

.blanco{
	background: white;
}

.CardCrear{
	padding: 1em;
}

.centrar{
	text-align: center;
}

.link{
	color: black;
}

.rojo-darken{
	color: #c62828;
}

.foto{
	padding: 0;
	margin: 0;
	display: block;
}

.rojo{
	background: red;
}

.tag{
	position: relative;
	top: -6em;
	background: rgba(47,46,46,0.7);
	text-align: center;
}

.tarjeta{
	padding: 0;
	margin: 1em 2.5em 0 0;
	position: relative;
	left: 1em;
}

.arriba{
	margin-top: 2em;
}

.LugarFecha{
	height: 30%;
}

.LugarFechaTitle{
	position: relative;
	top: -0.8em;
	text-align: center;
	font-size: 22px;
}

.LugarFechaInformacion{
	padding: 0 0 0 1em;
	margin-top: -1em;
}

.CreadorEvento{
	position: relative;
	top: -37em;
	left: 59.9em;
}

.CreadorFigure{
	padding: 0;
	margin: 0;
}

.CreadorEvento-h4{
	position: relative;
	top: -0.8em;
	text-align: center;
	font-size: 22px;
}

.CreadorEvento-img{
	width: 64px;
	height: 64px;
	margin-left: 1em;
	position: relative;
	bottom: .5em;
}

.CreadorEventoFig{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.CreadorEventoP{
	margin: 0 0.5em;
	position: relative;
	bottom: .5em;
}
.Descripcion-p{
	position: relative;
	top: -5em;
	margin: 0.5em;
}

.Comentarios{
	position: relative;
	top: -11em;
	left: 1em
}

.pregunta{
	position: relative;
	left: 1em;
}

.btn-pregunta{
	position: relative;
	left: 45em;
	top: -2.5em;
}

.CometarioObtenido{
	position: relative;
	left: 1em;
	bottom: 10em;	
}

.item{
	position: relative;
}

.item-img{
	width: 64px;
	height: 64px;
	margin: 0;
	position: absolute;
}

.be-padding{
	padding: 1em;
}

.item-p{
	position: relative;
	left: 5em;
}

.my-events{
	position: absolute;
	top: 8.5%;
	left: 26%;
}
.profile{
	margin-left: 1em;
}
.my-profile-radius{
	width: 15em;
	height: 15em;
	border-radius: 50%;

}