{% extends "base_events.html" %}

{% block content %}
	<section class="row">
		{% for evento in eventos %}
		    <a href="{% url 'detail' evento.slug %}" class="card col s5 CardEvent blanco link">
		    	<article class="">
			    	<h3 class="CardEventTitle rojo-darken">
			    		{{ evento.titulo }}
			    	</h3>
			    	<p class="CardEventoDescripcion">
			    		{{ evento.descripcion }}
			    	</p>
			    	<div class="CardEventoDetalle">
			    		<p class="CardEventoCreador">
			    			{{ evento.creador }}
			    		</p>
			    		<p class="CardEventoCiudad">
			    			{{ evento.lugar }}
			    		</p>
			    	</div>
				</article>
		    </a>
	    {% endfor %}
	</section>
	<a href="{% url 'crear' %}" class="btn-floating btn-right btn-large waves-effect waves-light red">
			<i class="mdi-content-add"></i>
		</a>
{% endblock content %}